﻿@model Inventarios.Models.Blogs

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Blogs</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{ 
            Html.RenderPartial("_EditCreate");
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
