﻿@model IEnumerable<Inventarios.Models.Blogs>

@{
    ViewBag.Title = "Blogs";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Nuevo Blog", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.BlogId }) |
            @Html.ActionLink("Ver Detalle", "Details", new { id=item.BlogId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.BlogId })
        </td>
    </tr>
}

</table>
