﻿
@{
    ViewBag.Title = "Link";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li><a href="http://www.sopitas.com">Sopitas</a></li>
    <li><a href="http://www.mediotiempo.com">Medio Tiempo</a></li>
    <li><a href="http://www.otro.com">Otro</a></li>
</ul>